.gallery {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 25% 25% 25%;
    row-gap: 70px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.gallery > li {
    border: 10px;
    border-color: black;
}